:root {
  --primary: #fff;
  --secondary: #1d1d1d;
  --main-font: "Inter", sans-serif;
  --product-card-bg: #eaeaeb;
  --bestseller: #d9d6b0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

#wrapper {
  position: relative;
  padding: 2rem;
  color: var(--secondary);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary);
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

#nav-user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#hero {
  padding: 5rem 0 5rem 0;
}
#hero img {
  max-width: 100%;
  margin: 1rem 0 1rem 0;
}
#featured-products-cards {
  min-height: 200px;
  position: relative;
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 1rem;
  display: flex;
  scroll-behavior: smooth;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

.featured-products-card img {
  max-width: 100%;
}

#featured-products-cards::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

.featured-product-card {
  margin-top: 1rem;
  flex: 0 0 calc((100% - 3rem) / 4);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  background: var(--product-card-bg);
}

.featured-products-slider-container {
  position: relative;
}

.slider-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  pointer-events: none;
}

.slider-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  cursor: pointer;
  pointer-events: all;
  z-index: 2;
  border-radius: 50px;
  border: none;
}

#slide-left {
  left: 0.5rem;
  display: none;
}

#slide-right {
  right: 0.5rem;
}

.slider-nav button:hover {
  background: #0056b3;
}
#all-products-wrapper {
  width: 100%;
  margin: 4rem 0 1rem 0;
}
#products-per-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#products-per-page-select {
  border: none;
  color: var(--secondary);
  padding: 0 0.5rem;
  font-weight: 600;
}

#all-products {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.products-row {
  display: grid;
  gap: 1rem;
}

.products-row {
  grid-template-columns: repeat(4, 1fr);
}

.products-row:has(.promo-banner) {
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.promo-banner {
  padding: 3rem 0;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.promo-banner-heading {
  text-transform: uppercase;
}
.promo-banner-heading p {
  font-weight: 400;
}
.promo-banner-heading h4 {
  font-size: 2rem;
  padding: 0 10% 0 10%;
}
.all-product-card {
  background: #f9f9f9;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#promo-banner-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background: var(--primary);
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 1rem;
}
#promo-banner-button:hover {
  filter: brightness(90%);
}
