:root {
  --primary: #fff;
  --secondary: #1d1d1d;
  --main-font: "Inter", sans-serif;
  --product-card-bg: #eaeaeb;
  --bestseller: #d9d6b0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

#wrapper {
  position: relative;
  padding: 2rem;
  color: var(--secondary);
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2rem;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary);
  z-index: 5;
}
#logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--secondary);
  gap: 2rem;
}
.main-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

#nav-user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#hero {
  margin: 5rem 0 5rem 0;
}
#hero img {
  max-width: 100%;
  margin: 1rem 0 1rem 0;
}

#featured-products h2 {
  font-size: 2rem;
}
#featured-products-cards {
  min-height: 200px;
  position: relative;
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 1rem;
  display: flex;
  scroll-behavior: smooth;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

#featured-products-cards::-webkit-scrollbar {
  height: 8px;
}

#featured-products-cards::-webkit-scrollbar-track {
  background: transparent;
}

#featured-products-cards::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
  transition: background-color 0.3s;
}

.featured-products-card img {
  max-width: 100%;
}

.featured-product-card {
  margin-top: 1rem;
  flex: 0 0 calc((100% - 3rem) / 4);
  border-radius: 8px;
  scroll-snap-align: start;
}

.featured-product-card img {
  background: var(--product-card-bg);
  max-width: 100%;
  border-radius: 0.5rem;
}

.featured-product-info {
  padding: 0.5rem;
}
.featured-product-info span {
  font-size: 1.1rem;
  font-weight: 600;
}

.featured-products-slider-container {
  position: relative;
}

.slider-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  pointer-events: none;
}

.slider-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  cursor: pointer;
  pointer-events: all;
  z-index: 2;
  border-radius: 50px;
  border: none;
}

#slide-left {
  left: 0.5rem;
  display: none;
}

#slide-right {
  right: 0.5rem;
}

#all-products {
  width: 100%;
  margin: 4rem 0 1rem 0;
}
#products-per-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#products-per-page-select {
  font-size: 1rem;
  border: none;
  color: var(--secondary);
  padding: 0 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

#all-products-wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.products-row {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.products-row:has(.promo-banner) {
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.promo-banner {
  padding: 3rem 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  grid-column: 2 / span 2;
}
.promo-banner-heading {
  text-transform: uppercase;
}
.promo-banner-heading p {
  font-weight: 400;
}
.promo-banner-heading h4 {
  font-size: 2rem;
  padding: 0 10% 0 10%;
}
.all-product-card {
  position: relative;
  background: #f9f9f9;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.all-product-card img {
  max-width: 100%;
}

#promo-banner-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background: var(--primary);
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 1rem;
}
#promo-banner-button:hover {
  filter: brightness(90%);
}

nav ul li a {
  transition: 0.2s;
}

nav ul li a.active {
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  font-weight: 600;
}

.spinner {
  text-align: center;
  padding: 2em;
  font-size: 1.2em;
}
.hidden {
  display: none;
}

#mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 20;
  padding: 2rem;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}
#mobile-menu.open {
  transform: translateX(0);
}
.mobile-menu-content img {
  margin-bottom: 5rem;
}
#mobile-menu ul {
  list-style: none;
  padding: 0;
}
#mobile-menu li {
  margin: 1rem 0;
}
#mobile-menu li a {
  text-decoration: none;
  color: var(--secondary);
}
#menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
#close-mobile-menu {
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  transition: opacity 0.3s ease;
  pointer-events: none;
  opacity: 0;
}

#overlay.visible {
  pointer-events: all;
  opacity: 1;
}

#mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 320px;
  height: 100vh;
  background: #fff;
  z-index: 100;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

#mobile-menu.open {
  transform: translateX(0);
}

.product-id {
  position: absolute;
  top: 5%;
  left: 5%;
}

#product-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 100;
  max-width: 100%;
  width: 30%;
  text-align: center;
  transition: opacity 0.3s ease;
}

.modal-content img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

#modal-id {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

@media screen and (max-width: 1250px) {
  nav ul,
  #nav-user-info {
    display: none;
  }
  #idomods-text {
    display: none;
  }
  #menu-toggle,
  #close-mobile-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
  }
  .featured-product-card {
    flex: 0 0 calc((100% - 3rem) / 2);
  }

  .products-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .products-row:has(.promo-banner) {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .promo-banner {
    grid-column: 1 / -1;
    min-height: 500px;
  }
  #product-modal {
    width: 60%;
  }
  .product-id {
    font-size: 1rem;
  }
}

@media screen and (max-width: 780px) {
  .featured-product-card {
    flex: 0 0 calc((100% - 3rem) / 1);
  }

  #wrapper {
    padding: 1rem;
  }

  #hero {
    margin: 5rem 0 2rem 0;
  }

  #hero-image-main {
    width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  #product-modal {
    width: 80%;
  }
  .product-id {
    font-size: 0.8rem;
  }

  .promo-banner-heading h4 {
    font-size: 1.5rem;
  }

  #products-per-page p {
    font-size: 0.8rem;
  }

  .slider-nav button {
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
  }

  #all-products {
    margin: 2rem 0 0 0;
  }

  #all-products-wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #featured-products h2 {
    font-size: 1.2rem;
  }

  #featured-products p {
    font-size: 0.6rem;
  }
}
